.icon-btn {
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);

  min-width: 48px;
  width: 48px;
  height: 48px;

  display: grid;
  place-items: center;

  border-radius: var(--radius-circle);
}

.icon-btn > .state-layer {
  inset: 4px;
}

.icon-btn > .ripple {
  width: 40px;
  height: 40px;

  animation: icon-button-ripple 200ms var(--motion-easing-standard) forwards;
}

@keyframes icon-button-ripple {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.btn-segment {
  height: 40px;

  padding-inline: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: var(--on-surface);
  --state-layer-bg: var(--on-surface);
}

.btn-group .btn-segment:not(:last-child) {
  border-inline-end: 1px solid var(--outline);
}

.btn-group {
  display: flex;

  border: 1px solid var(--outline);
  border-radius: var(--radius-full);

  overflow: hidden;
}
